
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=100, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top epis--menu-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".epis-menu">
                    <span class="sr-only">Menú</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Ingeniería de Sistemas</a>
            </div>
            <div class="collapse navbar-collapse epis-menu">
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-24 col-sm-4 col-md-4 col-lg-4 col-sm-offset-4">
                @{
                    object mensajeError = TempData["Error"];

                    if (!(mensajeError == null))
                    {
                        <div class="alert alert-danger">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <strong>Ha ocurrido un error!</strong> @mensajeError
                        </div>
                    }
                }
                <form action="@Url.Action("IniciarSesion")" method="post">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Iniciar sesión
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Usuario:</label>
                                        <input type="text" id="txtUsuario" class="form-control text-id" name="Username">
                                    </div>
                                    <div class="form-group">
                                        <label>Contraseña:</label>
                                        <input type="password" class="form-control" name="Password">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button type="submit" class="btn btn-success">Ingresar</button>
                            <button type="reset" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
</body>

</html>