 @{ ViewBag.Title = "Noticias"; }

<section>
    <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h3 class="panel-title">Publicaciones</h3>
                  </div>
                  
                  <div class="list-group">
                      <a href="@Url.Action("Index", "Noticia")" class="list-group-item">Noticias</a>
                      <a href="@Url.Action("Index", "Evento")" class="list-group-item">Eventos</a>
                      <a href="@Url.Action("Index", "Comunicado")" class="list-group-item">Comunicados</a>
                      <a href="@Url.Action("Index", "Actualidad")" class="list-group-item">Actualidaes tecnológicas</a>
                      <a href="#" class="list-group-item">Publicaciones</a>
                      <a href="#" class="list-group-item">Galería de fotos</a>
                      <a href="#" class="list-group-item">Galería de vídeos</a>
                  </div>
                  
            </div>
            
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="well well-sm">
                    <h1>Noticias</h1>
                    <hr />
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <a href=""><img src="http://demo.wpzoom.com/academica-pro-3/files/2016/09/photo-1417716226287-2f8cd2e80274-365x240.jpeg" alt=""></a>
                                <div class="caption">
                                    <p>September 23, 2016 / Video</p>
                                    <h3>Central University Soccer Championship</h3>
                                    <p>
                                        This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need
                                        some type to visualize what the actual copy might look like if it were real content. If you
                                        want to read, I might suggest a good […]
                                    </p>
                                    <p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <a href=""><img src="http://demo.wpzoom.com/academica-pro-3/files/2016/08/photo-1467320424268-f91a16cf7c77-365x240.jpeg" alt=""></a>
                                <div class="caption">
                                    <p>September 23, 2016 / Video</p>
                                    <h3>Style Guide</h3>
                                    <p>
                                        This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need
                                        some type to visualize what the actual copy might look like if it were real content. If you
                                        want to read, I might suggest a good […]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <a href=""><img src="http://demo.wpzoom.com/academica-pro-3/files/2016/08/photo-1464582920526-52639da1ce12-365x240.jpeg" alt=""></a>
                                <div class="caption">
                                    <p>September 23, 2016 / Video</p>
                                    <h3>Post with Mosaic Gallery</h3>
                                    <p>
                                        This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need
                                        some type to visualize what the actual copy might look like if it were real content. If you
                                        want to read, I might suggest a good […]
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <a href=""><img src="http://demo.wpzoom.com/academica-pro-3/files/2016/08/photo-1464582920526-52639da1ce12-365x240.jpeg" alt=""></a>
                                <div class="caption">
                                    <p>September 23, 2016 / Video</p>
                                    <h3>Post with Mosaic Gallery</h3>
                                    <p>
                                        This is some dummy copy. You’re not really supposed to read this dummy copy, it is just a place holder for people who need
                                        some type to visualize what the actual copy might look like if it were real content. If you
                                        want to read, I might suggest a good […]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <p class="list-group-item-text">May 25, 2015</p>
                            <h4 class="list-group-item-heading">Vestibulum id ligula porta felis euismod semper</h4>
                        </a>
                        <a href="#" class="list-group-item">
                            <p class="list-group-item-text">May 25, 2015</p>
                            <h4 class="list-group-item-heading">Curabitur blandit tempus porttitor</h4>
                        </a>
                    </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            
            <div class="panel panel-default">
                  <div class="panel-heading">
                        <h3 class="panel-title">Próximos eventos</h3>
                  </div>
                  <div class="list-group">
                      <a href="#" class="list-group-item">
                          <h4 class="list-group-item-heading">Law Students Awards Ceremony</h4>
                          <p class="list-group-item-text">January 1, 2018 8:00 am / January 9, 2018 9:00 pm</p>
                      </a>
                      <a href="#" class="list-group-item">
                            <h4 class="list-group-item-heading">Homecoming and Reunion Weekend</h4>
                            <p class="list-group-item-text">November 11, 2018 8:00 am / November 13, 2018 11:00 am</p>
                        </a>
                  </div>
            </div>
            
        </div>
    </div>
</section>